@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');

/* layout */
.signup_section {
	width: 100%;
	padding: 80px 0 120px;
	font-family: 'Nanum Gothic', sans-serif;
}

.signup_section .signup-content {
	width: 40%;
	margin: 0 auto;
}

.signup_section .signup-content > h2 {
	text-align: center;
	padding: 20px;
}

.signup_section .signup-content .signup_detail {
	width: 70%;
	margin: 0 auto;
	padding: 10px;
	font-size: 16px;
}

/* li 공통 설정 */
.signup_section .signup-content li {
	padding: 5px;
}

/* 제목 li 설정 */
.signup_section .signup-content .input_title {
	font-weight: bold;
}

/* input 가진 li 설정 */
.signup_section .input_content  {
	margin-bottom: 15px;
}

.signup_section .input_content.except {
	text-align: center;
}

.signup_section .signup-content .input_content .input {
	height: 30px;
	border: 1px solid #ddd;
}

/* 아이디 비밀번호 이름 기본주소 상세주소 설정 */
.signup_section .signup-content .input_content .input.rel {
	width: 100%;
}

/* 생년월일 설정 */
.signup_section .signup-content .input_content .input.birth {
	width: 32%;
}

#birchk {
	display: block;
	padding-left: 7px;
	text-align: left;
}

/* 이메일 설정 */
.signup_section .signup-content .input_content .input.email {
	width: 33%;	
}

#email_select {
	width: 25%;
}

#mailChk_btn {
	width: 100%;
	border: 0;
	font-family: 'Nanum Gothic', sans-serif;
	font-weight: bold;
	background: #8aa1a1;
	margin-top: 15px;
	padding: 10px;
	cursor: pointer;
}

/* 인증번호 설정 */
.signup_section .signup-content .input_title.hideme {
	display: none;	
}

.signup_section .signup-content .input_content.hideme {
	display: none;
}

.signup_section .signup-content .input_content .input.authkey {
	width: 78%;
}

.signup_section .signup-content .input_content .authkey_btn {
	width: 20%;
	border: 0;
	font-family: 'Nanum Gothic', sans-serif;
	font-weight: bold;
	background: #8aa1a1;
	padding: 8px;
	cursor: pointer;	
}

/* 전화번호 설정 */
.signup_section .signup-content .input_content .input.tel {
	width: 31%;
}

/* 우편번호 찾기 버튼 설정 */
#addr_btn {
	width: 20%;
	border: 0;
	font-family: 'Nanum Gothic', sans-serif;
	font-weight: bold;
	background: #8aa1a1;
	padding: 8px;
	cursor: pointer;
} 
/* 회원가입 버튼 설정 */
#signUp_btn {
	width: 100%;
	border: 0;
	font-family: 'Nanum Gothic', sans-serif;
	font-weight: bold;
	background: #8aa1a1;
	margin-top: 15px;
	padding: 10px;
	cursor: pointer;
}