@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');

/*reset*/
*, html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, 
p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, 
image, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, 
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, tbody, tfoot, thead, tr, th, td{
    margin:0;padding:0;
}

a {
    color: inherit; text-decoration: inherit;
}
li {
    list-style: none;
}

/* layout */
section {
	width: 100%;
	height: 1000px;
	position: relative;
}

section .section_signup {
	width: 100%;
	position: absolute;
	font-size: 14px;
	top: 12%;
}

/* SIGN UP 로고 설정 */
section div.signup_logo {
	width: 100%;
	margin-bottom: 20px;
	padding: 15px 0;
	text-align: center;
	font-size: 18px;
}

/* 회원가입 양식 설정 */
section .signup_firm {
	height: 600px;
}

section .signup_firm table {
	margin: 10px auto;
	height: 100%;
}

section table th {
	text-align: left;
}

.input {
	height: 23px;
	border: 0;
	border-bottom: solid 1px #ccc;
}

.input.rel {
	width: 100%;
}

.input.birth {
	width: 32.7%;
}

.input.tel {
	width: 31%;
}
/* button, select css 설정 */
select, input[type=button] {
	height: 27px;
	vertical-align: middle;
	font-family: 'Nanum Gothic', sans-serif;
}

/* button css 설정 */
input[type=button] {
	padding: 0 5px;
	border: 0;
	background-color: eee;
	color: black;
}

input[type=button]:hover {	
	border: 0;
	background-color: #8aa1a1;
}

.input.sign {
	margin-top: 10px;
	width: 100%;
	height: 50px;
	font-size: 16px;
	letter-spacing: 2px;
}

select:focus {
	outline: none !important;
	border: 1px solid #8aa1a1;
}