@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');

/* reset */
* {
    margin: 0;
    padding: 0;
}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, 
pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, 
strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, 
tbody, tfoot, thead, tr, th, td{
    margin:0;padding:0;
}
a {
    color: inherit; text-decoration: inherit;
}
img {
    vertical-align: middle;
}
a img {
    border: none;
}
li {
    list-style: none;
}
address, em, i {
    font-style: normal;
}
a:focus {
    outline: none
}
button:focus {
    outline: none
}

/* layout */
.category_section {
	font-family: 'Nanum Gothic', sans-serif;
	width: 100%;
	padding: 80px 0 100px;
	font-size: 14px;
}


/* product_table 설정 */
.category_section .product_table {
	width: 68%;
	margin: 0 auto;
}

.category_section .product_table .product:nth-child(4) {
	margin-right: 0;
}

/* 전체를 감싸고 있는 a 태그(상품)에 대한 설정*/
.category_section .product_table .product {
	display: inline-block;
	width: 24%;
	margin : 0px 10px 30px 0px;
	text-align: left;
}

.category_section .product_table .product span {
	text-align: left;
	line-height: 1.5;
}

.category_section .product_table .product img {
	width: 100%;
	height: 388px;
	display: block;
	margin-bottom: 10px;
}

/* product_table 설정 */
.category_section .product_page {
	margin-top: 30px;
	text-align : center;
}


/* product_page(페이지 처리) 설정 */
.category_section .product_page  {
	margin-bottom: 50px;
}

.category_section .product_page li {
	display: inline-block;
	font-size: 18px;
	padding: 3px 5px;
	margin: 0 3px;
	cursor: pointer;
}