@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');

/*reset*/
*, html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, 
p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, 
image, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, 
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, tbody, tfoot, thead, tr, th, td{
    margin:0;
    padding:0;
}
body {
    color: #fff;
    font-family: 'Nanum Gothic', sans-serif;
    line-height: 1.6;
    position: relative;
}
a {
    color: inherit; text-decoration: inherit;
}
li {
    list-style: none;
}

body {
	font-family: 'Nanum Gothic', sans-serif;
    height: 2000px;
}

/* layout */
/* .admin_bar */
.admin_bar {
    background: #ffffff;
}

/* 관리자 메뉴목록(.admin_bar) 설정 */
.admin_bar {
    width: 20%;
    height: 100vh;
    position: fixed;
}

.admin_bar ul li{
    display:  block;
    text-transform: uppercase; /* 대문자 */
    font-weight: 500;
    font-size: 12px;
    letter-spacing: 2px; /* 글자 사이 간격 */
    color: rgba(223,190,106,0.7);
    padding: 15px 10px;
    transition: all 0.7s ease-out;
    background: linear-gradient(270deg, rgba(223,190,106,0.8), rgba(146,111,52,0.8), rgba(34,34,34,0), rgba(34,34,34,0));
    background-position: 1% 50%; /* 배경 초기위치 */
    background-size: 300% 300%;
    border-bottom: 1px solid rgba(223,190,106,0.3);
}

.admin_bar ul li:nth-child(1) {
    margin-top: 15px;
}

.admin_bar li:hover {
    color: #fff;
    border: 1px solid rgba(223,190,106,0);
    color: white;
    background-position: 99% 50%;
}
  
.admin_bar .category_admin  {
    display:block;
}

/* PRODUCT 리스트 하단 설정 */
.admin_bar .sub {
    display: none;
}

.admin_bar .category_admin .product_list span {
    float: right;
    margin-right: 10px;
}

