@CHARSET "UTF-8";

.organize{
	margin: 0 auto;
	width: 650px;
}

.text:hover{
	color: #483d8b;
}

.listp:hover{
	color: #483d8b;
}

.write:hover{
	color: #483d8b;
}

h2{
	text-align: center;

}

.board_section{
	margin: 0 auto;
	text-align: center;
	margin-bottom: 100px;
}

.title{
	margin-top: 150px;
}



.name {
	margin:10px;
	
}
.list1 {
	color: #fff;
	background: black;
	border-top: 1px solid;
	border-bottom:1px solid;
	
	
}
.list2 {
	background: #fff;
	border-bottom:1px solid;
	border-color: #E1DCDC;
}
.check2 {
	width: 75;
	font-family: 돋움;
	background-color:black;
	width: 50px;
	height: 25px;
	border: 0px;
	outline: none;
	color: white;
}

.check2:hover{
	color: #483d8b;
}

#searchOption {
	height: 25px;
	width: 125px;
	margin: 10px;
	border: 1px solid black;
	background: #ffffff;
	height: 25px;
}
#keyword {
	border: 1px solid black;
	background: #ffffff;
	height: 25px;
}
.text {
	background-color:black;
	width: 70px;
	height: 25px;
	border: 0px;
	outline: none;
	color: white;
	margin-left: 615px;
}
.textb {
	border: 1px solid #8D8D8C;
	}
.write {
	background-color:black;
	width: 75px;
	height: 25px;
	border: 0px;
	outline: none;
	color: white;
}
.listp {
	background-color:black;
	width: 50px;
	height: 25px;
	border: 0px;
	outline: none;
	color: white;
}
.asd{
	position: relative;
	top:10px;
	left: 10px;
}