@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');

/* reset */
* {
    margin: 0;
    padding: 0;
}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, 
pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, 
strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, 
tbody, tfoot, thead, tr, th, td{
    margin:0;padding:0;
}
a {
    color: inherit; text-decoration: inherit;
}
img {
    vertical-align: middle;
}
a img {
    border: none;
}
li {
    list-style: none;
}
address, em, i {
    font-style: normal;
}
a:focus {
    outline: none
}
button:focus {
    outline: none
}

h2 {
	width: 100%;
	margin: 0px auto;
	text-align: center;
}

a {
	color: #000;
	text-decoration: none;
}
/* layout */
section.section_cart {
	width: 91%;
	height: 550px;
	position: relative;
	margin: 160px 0 0 90px;
}
#cartbtn, #buyCart, #delCart, #cartClear, #payCart {
	text-align: center;
	border: 0px;
	width: 90px;
	height: 25px;
	background-color: #7FB3FA;
	color: #fff;
	margin: 5px;
}

.cart {
	position: relative;
	width: 900px;
	border: 1px solid #e0e0e0;
	padding: 0px 20px;
	margin: 25px auto;
}

.cart th {
	font-size: 15px;
}

.cart td {
	border-top: 1px solid #0A0A0A;
}

.cart3 {
	font-size: 15px;
	position: relative;
	width: 900px;
	border: 1px solid #e0e0e0;
	padding: 0px 20px;
	margin: 15px auto;
}

.cart3 th {
	font-size: 15px;
}

.cart3 td {
	border-top: 1px solid #0A0A0A;
}

	