@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');

/* reset */
/* admin_bar.css에 있음 */

/* layout */
.coll_section {
	margin-left: 20%;
	width: 80%;
	height: 100vh;
	background: pink;
}

.coll_section .coll_content {
	width: 80%;
	height: 80%;
	margin: 0 auto;
	background: skyblue;
}


