@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');
/*reset*/
*, html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, 
p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, 
image, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, 
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, tbody, tfoot, thead, tr, th, td{
    margin:0;
    padding:0;
}
body {
    font-family: 'Nanum Gothic', sans-serif;
    line-height: 1.6;
    position: relative;
}
a {
    color: inherit; text-decoration: inherit;
}
li {
    list-style: none;
}

/* layout */
section.login {
	width: 100%;
	height: 800px;
	position: relative;
}

section.login div.login_section {
	width: 320px;
	height: 300px;
	position: absolute;
	left: 50%;
	top: 50%;
	margin: -170px 0 0 -150px;
}
/* .inputbox의 .login_logo */
section.login .login_logo {
	text-align: center;
	padding: 10px 0;
	margin-bottom: 20px;
}

section.login .login_logo h2 {
	font-size: 28px;
}

/* .inputbox(로그인, 비밀번호창) */
section.login .login_box {
	position: relative;
	margin: 10px 0;
}

section.login .login_box > input {
	background: transparent; /* transparent: 투명 */
	border: none;
	border-bottom: solid 1px #ccc;
	padding: 20px 0px 5px 0px;
	font-size: 14px;
	width: 100%;
}

section.login .login_box > input::placeholder {
	color: transparent;
}

section.login .login_box > input:placeholder-shown + label { /* '+'는 인접형제선택자로 같은 부모를 가지고 바로 뒤에오는 'label'만 선택 */
	color: #aaa;
	font-size: 14px;
	top: 15px; 
}

section.login .login_box > input:focus + label, label {
	font-family: 'Nanum Gothic', sans-serif;
	color: #8aa1a1;
	font-size: 12px;
	pointer-events: none;
	position: absolute;
	left: 0px;
	top: 0px;
	transition: all 0.2s ease;
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
}

section.login .login_box > input:focus, input:not(:placeholder-shown) {
	border-bottom: solid 1px #8a1a1;
	outline: none;
}

section.login .login_section div.forgot {
	float: right;
}
section.login .login_section  div.forgot span {
	float: left;
	font-size: 12px;
	padding: 0px 5px;
	color: #8aa1a1;
}

section.login .login_section  div.forgot span:hover {
	font-weight: bold;
	cursor: pointer;
}

section.login .login_section  div.forgot span:nth-child(2):hover {
	font-weight: normal;
	cursor: default;
}

section.login .login_section input[type=button] {
	width: 100%;
	height: 40px;
	margin-top: 10px;
	border: 0;
	font-family: 'Nanum Gothic', sans-serif;
}

section.login .login_section input[type=button]:hover {
	font-weight: bold;
	background: #8aa1a1;
	cursor: pointer;
}