@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');

/* reset */
* {
    margin: 0;
    padding: 0;
}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, 
pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, 
strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, 
tbody, tfoot, thead, tr, th, td{
    margin:0;padding:0;
}
a {
    color: inherit; text-decoration: inherit;
}
img {
    vertical-align: middle;
}
a img {
    border: none;
}
li {
    list-style: none;
}
address, em, i {
    font-style: normal;
}
a:focus {
    outline: none
}
button:focus {
    outline: none
}
/* layout */

#container {
	margin: 150px auto;
	width: 900px;
	padding:5px;
}

a {
	color: #000;
	text-decoration: none; /*  글씨의 장식(선) 색을 지정 */
}

h3.h3_pay{
	text-align: center;
	position: relative;
	 line-height :2;
}

#oSW, #oSI, #oSD, #oSP, #pay, #paymoney {
	width: 100%;
	margin: 0 auto;
	padding:5px;
	position: relative;
	border-top: 2px solid #7FB3FA;
	border-bottom: 1px solid #7FB3FA;
}
#pay, #paymoney {
	text-align: left;
	padding:5px;
}

th {
	background-color: #9CCEFF;
}

#ordersheet {
	background-color: #9CCEFF;
}

textarea {
	resize: none;
}

input[type=button] {
	position: relative;
	margin: 10px auto;
	width: 90px;
	height: 50px;
	border: 0px;
	background-color: black;
	color: white;
	cursor: pointer;
}

input[name=nn_searchPost] {
	text-align: center;
	border: 0px;
	width: 100px;
	height: 25px;
	background-color: #7FB3FA;
	color: #fff;
	margin: 5px;
}

#paymoney th {
	background-color: #fff;
	text-align: center;
}