@charset "utf-8";

@import
	url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');

/* reset */
* {
	margin: 0;
	padding: 0;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
	blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn,
	em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup,
	tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label,
	legend, table, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
}

a {
	color: inherit;
	text-decoration: inherit;
}

img {
	vertical-align: middle;
}

a img {
	border: none;
}

li {
	list-style: none;
}

address, em, i {
	font-style: normal;
}

a:focus {
	outline: none;
}

button:focus {
	outline: none;
}

/* layout */
.product-content {
	font-family: 'Nanum Gothic', sans-serif;
	width: 1800px;
	height: 800px;
	position: relative;
}

.product-content .product_detail {
	width: 80%;
	height: 620px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -310px;
	margin-left: -40%;
}

.product-content .product_detail .product_left_layout {
	width: 860px;
	margin-left: 40px;
	height: 600px;
	position: relative;
	margin-top: 20px;
	float:left;
}

/* product_slide 설정 */
.product-content .product_detail .product_slide {
	width: 780px;
	height: 500px;
	position: relative;
	margin-left: 40px;
	overflow: hidden;
}

/* .product_left */
.product-content .product_detail .product_left ul {
	width: 1600px;
	position: absolute;
	top: 0;
	left: 0;
	font-size: 0;
}

.product-content .product_detail .product_left li {
	width: 380px;
	height: 500px;
	display: inline-block;
	margin-right: 20px;
}

.product-content .product_detail .product_left li img {
	display: inline-block;
	width: 100%;
	height: 500px;
}

/* 좌우 버튼 설정 */
.prev, .next {
	cursor: pointer;
	position: absolute;
	top: 50%;
	width: auto;
	padding: 13px;
	margin-top: -80px;
	color: #ddd;
	font-weight: bold;
	transition: 0.6s ease;
	border-radius: 0 3px 3px 0;
}

.next {
	right: 0;
	border-radius: 3px 0 0 3px;
}

/* .product_right */
.product-content .product_detail .product_right {
	display: inline-block;
	width: 25%;
	height: 50%;
	font-size: 15px;
	margin-top: 30px;
	margin-left: 10px;
}

.product-content .product_detail .product_right li {
	margin-bottom: 13px;
	padding: 5px 0;
}

/* 수량 */
.product-content .product_detail .product_right .select_quantity {
	display: none;
	font-size: 14px;
}

.product-content .product_detail .product_right .select_quantity li {
	display: inline-block;
	margin-left: 6px;
}

.product-content .product_detail .product_right .select_quantity .select_quantity_detail
	{
	float: right;
	margin-right: 20px;
}

/* 버튼 설정 */
input[type="text"] {
	font-family: 'Nanum Gothic', sans-serif;
	font-size: 14px;
	background: transparent;
	border: 0;
	width: 15px;
	text-align: center;
}

input[type="button"] {
	padding: 6px 12px;
	border: 0;
	font-family: 'Nanum Gothic', sans-serif;
	background: transparent;
	color: #8aa1a1;
}

input[type="button"]:hover {
	background: #8aa1a1;
	color: #fff;
	cursor: pointer;
}

#buy_btn {
	padding: 12px 22px;
	background: #8aa1a1;
	color: #fff;
}

#buy_btn:hover {
	background: transparent;
	border: 1px solid #8aa1a1;
	color: #8aa1a1;
}

#cart_btn {
	padding: 12px 22px;
	border: 1px solid #8aa1a1;
}

#cart_btn:hover {
	background: #8aa1a1;
}

/* 상품설명 설정 */
/* 나중에 배송/환불 설정이랑 합쳐야함 */
.product-content .product_detail .product_right .product_explain {
	cursor: pointer;
	border-bottom: 1px solid #ddd;
}

.product-content .product_detail .product_right .product_explain .product_explain_detail {
	display: none;
	font-size: 14px;
	padding-left: 3px;
	margin-top: 15px;
}

/* 배송/환불 설정 */
.product-content .product_detail .product_right .shipping_info {
	cursor: pointer;
	border-bottom: 1px solid #ddd;
}

.product-content .product_detail .product_right li .shipping_info_detail
	{
	display: none;
	font-size: 14px;
	padding-left: 3px;
}

.product-content .product_detail .product_right li .shipping_info_detail .shiping_info_title
	{
	font-weight: bold;
	margin-top: 15px;
}