@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');

/* reset */
* {
    margin: 0;
    padding: 0;
}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, 
pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, 
strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, 
tbody, tfoot, thead, tr, th, td{
    margin:0;padding:0;
}
a {
    color: inherit; text-decoration: inherit;
}
img {
    vertical-align: middle;
}
a img {
    border: none;
}
li {
    list-style: none;
}
address, em, i {
    font-style: normal;
}
a:focus {
    outline: none;
}

button:focus {
    outline: none;
}

/* layout */
.product-content {
    font-family: 'Nanum Gothic', sans-serif;
    width: 100%;
    height: 800px;
    position: relative;
    background: pink;
}

.product-content .product_detail {
    width: 80%;
    height: 620px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -310px;
    margin-left: -40%;
    background: skyblue;
}

/* .product_left */
.product-content .product_detail .product_left {
    display: inline-block;
    width: 65%;
    height: 620px;
    float: left;
    border-right: 1px solid darkgray;
    background: darkgray;
}

.product-content .product_detail .product_left ul {
    width: 100%;
    height: 90%;
    position: relative;
    background: hotpink;
    margin-top: 5%;
}

.product-content .product_detail .product_left ul li {
    width: 40%;
    max-width: 350px;
    display: inline-block;
}

.product-content .product_detail .product_left ul li:first-child {
	margin-left: 10%;
    margin-right: 10px;
}

.product-content .product_detail .product_left ul li img {
    display: inline-block;
    width: 100%;
    height: auto;
}

/* .product_right */
.product-content .product_detail .product_right {
    display: inline-block;
    width: 25%;
    height: 50%;
    background: orange;
    font-size: 13px;
    margin-top: 5%;
}

.product-content .product_detail .product_right li {
    background: yellow;
    margin-bottom: 10px;
    padding: 5px 0;
}

/* 수량 */
.product-content .product_detail .product_right .select_quantity {
	display: none;
	font-size: 12px;
}

.product-content .product_detail .product_right .select_quantity li  {
	background: green;
	display: inline-block;
	margin-left: 6px;
}

.product-content .product_detail .product_right .select_quantity .select_quantity_detail {
	float: right;
	margin-right: 20px;
}

/* 버튼 설정 */
input[type="text"] {
	font-family: 'Nanum Gothic', sans-serif;
	font-size: 12px;
	background: transparent;
	border: 0;
	width: 15px;
	text-align: center;
}

input[type="button"] {
	padding: 2px 10px;
	border: 0;
	font-family: 'Nanum Gothic', sans-serif;
	background: transparent;
	color: #8aa1a1;
}

input[type="button"]:hover {
	background: #8aa1a1;
	color: #fff;
	cursor: pointer;
}

#buy_btn {
	padding: 7px 12px;
	background: #8aa1a1;
	color: #fff;
}

#buy_btn:hover {
	background: transparent;
	border: 1px solid #8aa1a1;
	color: #8aa1a1;
}

#cart_btn {
	padding: 7px 12px;
	border: 1px solid #8aa1a1;
}

#cart_btn:hover {
	background: #8aa1a1;
}

/* 상품설명 설정 */
.product-content .product_detail .product_right .product_explain {
	cursor: pointer;
	border-bottom: 1px solid #ddd;
}

.product-content .product_detail .product_right .product_explain .product_explain_detail {
	display: none;
	font-size: 12px;
	padding-left: 3px;
}

/* 배송/환불 설정 */
.product-content .product_detail .product_right .shipping_info {
	cursor: pointer;
	border-bottom: 1px solid #ddd;
}

.product-content .product_detail .product_right li .shipping_info_detail {
	display: none;
	font-size: 12px;
	padding-left: 3px;
}

.product-content .product_detail .product_right li .shipping_info_detail .shiping_info_title {
	font-weight:bold;
	margin-top: 15px
}