@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');

/* reset */
* {
    margin: 0;
    padding: 0;
}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, 
pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, 
strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, 
tbody, tfoot, thead, tr, th, td{
    margin:0;padding:0;
}
a {
    color: inherit; text-decoration: inherit;
}
img {
    vertical-align: middle;
}
a img {
    border: none;
}
li {
    list-style: none;
}
address, em, i {
    font-style: normal;
}
a:focus {
    outline: none
}
button:focus {
    outline: none
}

/* layout */
/* collection 섹션 설정 */
.collection {
    width: 100%;
    height: 1000px;
    overflow: hidden;
    padding: 100px 0;
    background: #f0f0f0;
    font-family: 'Nanum Gothic', sans-serif;
}

.collection .collection_inner {
    width: 80%;
    margin: 0 auto;
}

.collection .collection_inner.hideme {
	opacity: 0;
}

/* textBox 설정  */
.collection .textBox .title_s {
    text-transform: uppercase;
    font-size: 30px;
    letter-spacing: 6px;
    margin-bottom: 10px;
    position: relative;
    font-size: bold;
    display: inline-block;
    padding-right: 60px;
}

.collection .textBox .title_s:after {
    content: '';
    width: 50px;
    height: 4px;
    background: #000;
    position: absolute;
    top: 50%;
    right: 0;
    margin-top: -2px;
}


.collection .textBox p {
    margin: 20px 0 30px;
}

.collection .textBox .title_btn {
    display: inline-block;
    font-weight: bold;
    color: #fff;
    background: #000;
    padding: 5px 30px;
    font-size: 20px;
    letter-spacing: 2px;
    margin-bottom: 40px;
}

/* 이미지 설정 */
.collection .collection_list {
    width: 87%;
    height: 780px;
    overflow: hidden;
	margin: 0 auto;
}

.collection .collection_inner .textBox .collection_list li {
    float: left;
    overflow: hidden;
}

.collection .collection_inner .textBox .collection_list li img {
    width: 100%;
    height: 100%;
    transition: all 0.5s;
}   

.collection .collection_inner .textBox .collection_list li:hover img {
    transform: scale(1.2);
    transition: all 1s;
}

.collection .collection_inner .textBox .collection_list li:nth-child(1) {
    width: 800px;
    height: 780px;
    margin-right: 20px;
}

.collection .collection_inner .textBox .collection_list li:nth-child(2) {
    width: 380px;
    height: 380px;
    margin-bottom: 20px;
}

.collection .collection_inner .textBox .collection_list li:nth-child(3) {
    width: 380px;
    height: 380px;
}